.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: 225px;
    justify-content: center;
  }
}
