.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  grid-template-columns: auto minmax(300px, 1400px) auto;
  grid-template-rows: auto 1fr auto;
  column-gap: 30px;

  height: 100vh;
  width: 100%;
  min-width: 320px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: minmax(300px, 760px);
    grid-template-rows: auto 1fr auto;
    padding: 0 15px;
  }
}
