@import "../../../assets/styles/variables.scss";

.item {
  position: relative;
  height: 315px;
  overflow: hidden;
  color: $primary;
  border-radius: 6px;
  border: 1px solid $primary;

  .movie-info {
    transition: 0.1s;
    opacity: 0;

    & ul {
      padding: 10px;
      margin: 0;

      & li {
        margin: 0;
        padding: 0;
        list-style: none;

        font-size: 18px;
        color: $primary-light;

        &:first-child {
          font-size: 20px;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

  & img {
    transition: 0.1s;
  }

  &:hover {
    .movie-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;

      backdrop-filter: blur(5px);
      background-color: #ffffff59;
    }

    & img {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 768px) {
  .movie-info {
    & ul {
      & li {
        margin: 0;
        padding: 0;
        list-style: none;

        font-size: 14px !important;
        color: $primary-light;

        &:first-child {
          font-size: 16px !important;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
